node_modules
_example.js
audiostems

server/services/stem--service/config.js
server/services/stem--service/config.json
server/services/stem--service/rootkey.csv

server/config

server/services/user--service/user--service.js