* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#323232), color-stop(40%, #3F3F3F), color-stop(150%, #1C1C1C)), -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.4)), color-stop(200%, rgba(0, 0, 0, 0.25)));
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
  background-blend-mode: multiply;
  color: white; }

.channel--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; }

.channel--container .channel {
  min-height: 80vh;
  max-height: 80vh;
  width: 2.75em;
  margin: 0 3px;
  border-radius: 3px;
  border: 2px solid #202020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#777), to(#5f5f5f));
  background: linear-gradient(180deg, #777, #5f5f5f); }
  .channel--container .channel p.channel--trackName {
    word-break: break-all;
    color: black;
    text-align: center;
    font-size: 12px;
    padding: 3px;
    max-height: 3em;
    overflow: hidden; }
  .channel--container .channel .channel--gain1 .channel--gain1-range {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    position: relative;
    top: -60px; }
