@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif; }

html {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#323232), color-stop(40%, #3F3F3F), color-stop(150%, #1C1C1C)), -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.4)), color-stop(200%, rgba(0, 0, 0, 0.25)));
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
  background-blend-mode: multiply;
  color: white; }

.tgl {
  display: none; }
  .tgl, .tgl:after, .tgl:before,
  .tgl *,
  .tgl *:after,
  .tgl *:before,
  .tgl + .tgl-btn {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection,
    .tgl *::-moz-selection,
    .tgl *:after::-moz-selection,
    .tgl *:before::-moz-selection,
    .tgl + .tgl-btn::-moz-selection {
      background: none; }
    .tgl::selection, .tgl:after::selection, .tgl:before::selection,
    .tgl *::selection,
    .tgl *:after::selection,
    .tgl *:before::selection,
    .tgl + .tgl-btn::selection {
      background: none; }
  .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 1.5em;
    height: 1.5em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin: 2px; }
    .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%; }
    .tgl + .tgl-btn:after {
      left: 0; }
    .tgl + .tgl-btn:before {
      display: none; }
  .tgl:checked + .tgl-btn:after {
    left: 50%; }

.tgl-skewed + .tgl-btn {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-family: sans-serif;
  background: #888; }
  .tgl-skewed + .tgl-btn:after, .tgl-skewed + .tgl-btn:before {
    display: inline-block;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    top: -3px; }
  .tgl-skewed + .tgl-btn:after {
    left: 100%;
    content: attr(data-tg-on); }
  .tgl-skewed + .tgl-btn:before {
    left: 0;
    content: attr(data-tg-off); }
  .tgl-skewed + .tgl-btn:active {
    background: #888; }
    .tgl-skewed + .tgl-btn:active:before {
      left: -10%; }

.tgl-skewed:checked + .tgl-btn {
  background: #F82E1B; }
  .tgl-skewed:checked + .tgl-btn:before {
    left: -100%; }
  .tgl-skewed:checked + .tgl-btn:after {
    left: 0; }
  .tgl-skewed:checked + .tgl-btn:active:after {
    left: 10%; }

.channel--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding: 1em 0;
  width: 95%;
  overflow-y: hidden;
  margin: 0 auto; }

.channel--container .channel {
  min-height: 30em;
  width: 3.75em;
  margin: 0 3px;
  border-radius: 5px;
  border: 2px solid #202020;
  position: relative;
  padding-bottom: 5px;
  padding-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#5c5c5c));
  background: linear-gradient(180deg, #666, #5c5c5c); }
  .channel--container .channel p.channel--trackName {
    word-break: break-all;
    color: black;
    text-align: center;
    font-size: 12px;
    padding: 3px;
    max-height: 3em;
    height: 3em;
    overflow: hidden; }
  .channel--container .channel .channel--pan1 .channel--pan-input {
    width: 90%;
    margin: 0 3px;
    height: 25px;
    background-color: ghostwhite;
    border: 1px solid black; }
  .channel--container .channel .channel--fader {
    position: relative;
    margin-top: 8em; }
    .channel--container .channel .channel--fader .channel--gain1 {
      position: relative;
      right: 8px; }
      .channel--container .channel .channel--fader .channel--gain1 .channel--gain1-range {
        -webkit-transform: rotate(270deg);
                transform: rotate(270deg);
        position: relative;
        top: -60px; }
    .channel--container .channel .channel--fader .meter {
      padding: 2px;
      width: 14px;
      background-color: black;
      border-radius: 3px;
      position: absolute;
      right: 43px;
      bottom: 8px;
      height: 133px;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
      .channel--container .channel .channel--fader .meter .meter--cont {
        background-color: green;
        width: 10px;
        -webkit-transition: height 0.3s ease-out;
        transition: height 0.3s ease-out;
        position: absolute;
        bottom: 2px; }
  .channel--container .channel .isolation--cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 4px 1px; }

.knob-input {
  position: relative;
  width: 60%;
  height: 30px;
  margin: 0 auto 12px; }

.knob-input__visual {
  pointer-events: none;
  width: 100%;
  height: 100%; }

.knob-input__input {
  cursor: -webkit-grab;
  cursor: grab;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: relative;
  top: -35px; }

.fl-studio-envelope__knob {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }
  .fl-studio-envelope__knob.envelope-knob {
    width: 80px;
    height: 80px; }
  .fl-studio-envelope__knob.tension-knob {
    padding: 10px;
    width: 80px;
    height: 80px; }
  .fl-studio-envelope__knob .knob-input__visual {
    overflow: visible; }
  .fl-studio-envelope__knob .dial {
    -webkit-transform-origin: 20px 20px;
            transform-origin: 20px 20px;
    -webkit-transition: all 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: all 600ms cubic-bezier(0.39, 0.575, 0.565, 1); }
  .fl-studio-envelope__knob .dial-highlight {
    opacity: 0;
    -webkit-transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1); }
  .fl-studio-envelope__knob:hover .dial, .fl-studio-envelope__knob.drag-active .dial {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-filter: brightness(10.2);
            filter: brightness(10.2);
    -webkit-transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1); }
  .fl-studio-envelope__knob:hover .dial-highlight, .fl-studio-envelope__knob.drag-active .dial-highlight {
    opacity: 0.05; }
  .fl-studio-envelope__knob .focus-indicator {
    opacity: 0;
    -webkit-transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1); }
  .fl-studio-envelope__knob.focus-active .focus-indicator {
    opacity: 0.8; }

.eq.eq__lpf .indicator-ring-bg {
  fill: #F7DC6F; }

.eq.eq__bp--1 .indicator-ring-bg {
  fill: #5499C7; }

.eq.eq__bp--2 .indicator-ring-bg {
  fill: #57a957; }

.eq.eq__hpf .indicator-ring-bg {
  fill: #ca354c; }

.eq .indicator-dot {
  fill: black;
  r: 2.5;
  cy: 28; }

.eq .eq__label {
  text-align: center;
  font-size: 10px;
  padding: 6px 4px 2px; }

.eq .indicator--span {
  font-size: 8px;
  color: black;
  font-weight: 700;
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
  top: -4px; }
