.channel--container .channel {
    min-height: 20em;
    max-height: 80vh;
    width: 3em;
    margin: 0 3px;
    border-radius: 3px;
    border: 2px solid #202020;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(180deg, #777, #5c5c5c);

    p.channel--trackName {
        word-break: break-all;
        color: black;
        text-align: center;
        font-size: 12px;
        padding: 3px;
        max-height: 3em;
        height: 3em;
        overflow: hidden;
    }

    // Gain 1
    .channel--gain1 {
        .channel--gain1-range {
            transform: rotate(90deg);
            position: relative;
            top: -60px;
        }
    }

    // Pan 1
    .channel--pan1 {
        .channel--pan-input {
            width: 40px;
        }
    }
}