.channel--container .channel {
    min-height: 30em;
    max-height: 80vh;
    width: 3.5em;
    margin: 0 3px;
    border-radius: 5px;
    border: 2px solid #202020;
    position: relative;
    padding-bottom: 5px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(180deg, #777, #5c5c5c);

    p.channel--trackName {
        word-break: break-all;
        color: black;
        text-align: center;
        font-size: 12px;
        padding: 3px;
        max-height: 3em;
        height: 3em;
        overflow: hidden;
    }

    

    // Pan 1
    .channel--pan1 {
        .channel--pan-input {
            width: 90%;
            margin: 0 3px;
            height: 25px;
            background-color: ghostwhite;
            border: 1px solid black;
        }
    }

   

    .channel--fader {
        position: relative;

        // Gain 1
        .channel--gain1 {
            position: relative;
            right: 8px;
            .channel--gain1-range {
                transform: rotate(270deg);
                position: relative;
                top: -60px;
            }
        }

        // Meter
        .meter {
            padding: 2px;
            width:14px;
            background-color: black;
            border-radius: 3px;
            position: absolute;
            right: 43px;
            bottom: 8px;
            height: 133px;

            .meter--cont {
                background-color: green;
                width: 10px;
                transition: height 0.3s ease-out;
                position: absolute;
                bottom: 2px;
            }
        }
    }

    .isolation--cont {
        display: flex;
        width: 100%;
        padding: 4px 1px;
    }
}