.channel--container .channel {
    min-height: 80vh;
    max-height: 80vh;
    width: 3.75em;
    margin: 0 6px;
    border-radius: 3px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    background-color: #eee;

    p.channel--trackName {
        word-break: break-all;
        color: black;
        text-align: center;
        font-size: 12px;
        padding: 3px;
        height: 3em;
    }
}