* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

html {
    // background-color: orange;
    min-height: 100vh;
    // background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    // background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), 
        linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;

    color: white;
}
